version: "3.8"

services:
  db:
    image: postgres:16
    container_name: corretor-db
    restart: unless-stopped
    ports:
      - "5437:5432"
    env_file:
      - ../.env
    volumes:
      - /tmp/postgres-data:/var/lib/postgresql/data
